img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
h2{
    text-align: center;
}
p{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure full width */
    background-color: rgb(195, 223, 221);
    box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.3);
}

.container h3 {
    margin-left: 20px; /* Optional: add space between <h3> elements */
    margin-right: 20px;
} 

.container h1 {
    margin-right: auto; /* Keeps the h1 aligned to the left */
    margin-left: 20px;
}
