img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.box{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
}
p{
    display: flex;
    justify-content: center;
}
